
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(181, 166, 140);
  color: rgb(44, 41, 41);
  line-height: 1.5;
  font-size: 16px;
}


h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 15px;
}
p {
  margin-bottom: 20px;
  color: rgb(25, 23, 18);
}
@media screen and (min-width: 800px) {
  h4 {
    font-size: 16px;
  }
  body {
    font-size: 16px;
  }
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 80px 0;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width:500px;
  margin-top: 128px; 
}
@media screen and (min-width: 990px) {
  .section-center {
    width: 95vw;
  
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.section-center {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
  transition: all 0.3s linear;
  padding: 2rem;
}
.section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  ;
}
.alert {
  margin-bottom: 16px;
  height:25px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.alert-danger {
  color: #4e0b11;
  background: #f8d7da;
}
.alert-success {
  color: #4e0731;
  background: #d4edda;
}
.grocery-form h3 {
  color: rgb(90, 74, 53);
  margin-bottom: 24px;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
}
#grocery {
  padding: 4px;
  padding-left: 16px;
  background: rgb(224, 219, 219);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: transparent;
  font-size: 16px;
  flex: 1 0 auto;
  color: rgb(19, 21, 19);
}
#grocery::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(123, 112, 54);
}
.submit-btn {
  background: rgb(127, 97, 42);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  color: rgb(249, 247, 243);
  transition: all 0.4s linear;
  font-size: 14px;
}
.submit-btn:hover {
  background: rgb(217, 197, 118);
  color: #fff;
}

.grocery-container {
  margin-top: 30px;
  transition: all 0.3s linear;
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  transition: all 0.3s linear;
  padding: 4px 16px;
  border-radius: 10px;
  text-transform: uppercase;
}
.grocery-item:hover {
  color: rgb(245, 157, 157);
  background: rgb(217, 197, 118);
}
.grocery-item:hover .title {
  color: rgb(112, 92, 54);

}
.title {
  margin-bottom: 0;
  color: rgb(112, 92, 54);
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px;
  transition: all 0.3s linear;

}
.edit-btn {
  color: rgb(46, 46, 95);
}
.edit-btn:hover {
  color: rgb(46, 46, 95);

}
.delete-btn {
  color: rgb(126, 85, 26);

}
.delete-btn:hover {  
  color: rgb(126, 85, 26);

}
.clear-btn {
  text-transform: uppercase;
  width: 161px;
  height: 19px;

  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: rgb(126, 85, 26);
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 20px;
}
.clear-btn:hover {
  color: rgb(126, 85, 26);
}
